.heroWrap {
  background-image: url("../../../assets/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* max-height: 600px; */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

.heroBox {
  border-bottom: 0.01px solid gray;
}

.textDot {
  position: relative;
}

.textDot::after {
  content: "";
  position: absolute;
  bottom: 0.5em;
  border-radius: 50%;
  left: -12px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  z-index: 1;
}
