.heroWrap {
  background-image: url("../../../assets/bloc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  max-height: 800px;
  width: 100%;
  background-color: rgba(0 0 0 / 0.5);
  background-blend-mode: multiply;
}

.heroBox{
    border-bottom: 0.01px solid gray;
}