@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar-box {
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 999; */
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

.shadow {
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
}

.scroll-style::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 0px;
  width: 0px;
}

.scroll-style::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.t_body_box {
  border-top: 1px solid rgb(199, 199, 199);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.formbox {
  box-shadow: 0px 10px 15px -3px rgba(255, 255, 255, 0.1);
}

.popBox {
  border-bottom: 2px solid #fff;
}

/* loading spinner code */

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 23px;
  height: 23px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.content-loading {
  display: inline-block;
  width: 120px;
  height: 120px;
}
.content-loading:after {
  content: " ";
  display: block;
  width: 23px;
  height: 23px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #ff5f13;
  border-color: #ff5f13 transparent #ff5f13 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.toast-message {
  background: green;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}

.auth-bg {
  /* width: 100%; */
  /* height: 100vh; */
  background-image: url("../assets/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
}

.tab-box {
  box-shadow: inset 0 -0.5px 0 #f2f2f2;
  /* padding-bottom: 10px; */
}

.main-tab {
  /* border-bottom: 1px solid ; */
  /* padding-bottom: 10px; */
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-text {
  color: #e20010;
  font-size: 14px;
  margin-top: 6px;
}

/* Add this to your existing styles */
@media screen and (max-width: 640px) {
  .overflow-auto {
    -webkit-overflow-scrolling: touch;
  }
}
